<nav class="navbar navbar-default navbar-custom" role="navigation">
    <div class="container-fluid container-custom">
  
      <!-- <div class="navbar-header navbar-custom">
        <a class="navbar-brand" href="#">Node-Leaflet</a>
      </div> -->
      <!-- <p id="header-custom">Node-Leaflet</p> -->
  
      <ul class="nav navbar-nav navbar-custom">
        <li><a href="/">Map</a></li>
        <!-- <li><a href="/">Settings</a></li> -->
        <li><a href="/about">About</a></li>
      </ul>
  
    </div>
  </nav>