<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid container-custom">
  
      <div class="navbar-header navbar-custom">
        <a class="navbar-brand" href="#">Node-Leaflet</a>
      </div>
  
      <ul class="nav navbar-nav navbar-custom">
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
      </ul>
  
    </div>
  </nav>