<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <% include ../partials/head %>
  </head>

  <body>

    <header id="header">
      <% include ../partials/header %>
    </header>

    <main id="main">
      <!-- <div id="map"></div> -->

      <div id="div-about" align="center">
        </br>
        <h3>Welcome to Node-Leaflet</h3>
        </br>
        <h4>This is a skeleton layout using Node, Express & Leaflet</h4>
      </div>

    </main>

    <% include ../partials/scripts %>
  </body>

</html>